# Ignorer l'entièreté des fichiers/dossiers
/**/*

# Ne pas ignorer les fichiers suivant
!/.gitignore
!/api.py
!/graphe.py
!/main.py
!/quoridor.py
!/quoridor_error.py
!/README.md
!/tests.py
!/utilitaire.py
!/Turtle_Joueurs_Murs
!/quoridorx.py

# Pas besoin d'inclure les bundles créés, ils devraient être ignorés automatiquement
